<section id="skills" class="skills section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Habilidades</h2>
      <p>Conocimiento y habilidades en las Siguientes áreas.</p>
    </div>

    <div class="row skills-content">

      <div class="col-lg-6" data-aos="fade-up">

        <div class="progress">
          <span class="skill">Manipulación de datos con Mysql y SQLserver.  <i class="val">90%</i></span>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%"  aria-valuemax="100"></div>
          </div>
        </div>

        

        <div class="progress">
          <span class="skill">Wordpress, WooCommerce, Elementor, W3 cache.  <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemax="90"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill"> Node.js, Angular, Ionic, Typescript, Javascript. <i class="val">75%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="75"  aria-valuemax="75"></div>
          </div>
        </div>

      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

        <div class="progress">
          <span class="skill"> Laravel, Codeigniter, PHP.  <i class="val">70%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemax="70"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">  Python.  <i class="val">70%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemax="70"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill"> ASP.NET <i class="val">50%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemax="55"></div>
          </div>
        </div>

      </div>

    </div>

    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
      <div class="developer">

        <div class="section-title">
          <h2>Certificaciones</h2>
        </div>

        <ul>
          <li><i class="icofont-swoosh-right"></i> <strong>CERTIFICACIÓN:</strong> Cisco 1 Introducción a las redes (diciembre 2016).</li>
          <li><i class="icofont-swoosh-right"></i> <strong>CERTIFICACIÓN:</strong> Cisco 2 Router and Switch(abril 2017).</li>
          <li><i class="icofont-swoosh-right"></i> <strong>DIPLOMADO:</strong> Técnico en Informática (septiembre 2013). </li>
          <li><i class="icofont-swoosh-right"></i> <strong>CERTIFICACIÓN:</strong> <a target="_blank" href="https://www.coursera.org/account/accomplishments/specialization/8DP5Y8NGRMJF">Programming for Everybody</a> </li>
          <li><i class="icofont-swoosh-right"></i> <strong>CERTIFICACIÓN:</strong> <a href="https://www.coursera.org/account/accomplishments/specialization/FPEPWGF2S9DH">Python 3 Programming</a></li>
          <li><i class="icofont-swoosh-right"></i> <strong>CERTIFICACIÓN:</strong> <a href="https://www.coursera.org/account/accomplishments/verify/6RYXXW3QSZHS">Programming Foundations with JavaScript, HTML and CSS</a> </li>
        </ul>
      </div>
    </div>

  </div>
</section><!-- End Skills Section -->