<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Nivel Academico</h2>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <div class="resume-item pb-0">
            <ul>
            
            </ul>
          </div>

          <h3 class="resume-title">Educación</h3>
          <div class="resume-item">
            <h4>Centro de Bachillerato Zaragoza #8420</h4>
            <h5>2013 - 2016</h5>
            
          
          </div>
          <div class="resume-item">
            <h4>Universidad Tecnológica de Ciudad Juárez</h4>
            <h5>2016 - 2018</h5>
            <div class="pt-4 pt-lg-0 content" data-aos="fade-left">
              <ul>
                <li><i class="icofont-swoosh-right"></i> Tecnico superior en desarrollo de aplicaciones </li>
                <li><i class="icofont-swoosh-right"></i> Tecnico en redes </li>
                <li><i class="icofont-swoosh-right"></i> Tecnico en Sistemas opertativos </li>  
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Educacion Profecional</h3>
          <div class="resume-item">
            <h4>Universidad Tecnológica de Ciudad Juárez</h4>
            <h5>2018 - 2020</h5>
              <div class="pt-4 pt-lg-0 content" data-aos="fade-left">
                <ul>
                  <li><i class="icofont-swoosh-right"></i> Desarrollo de aplicaciones Multiplataforma </li>
    
                </ul>
              </div>
           
          </div>
          
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->
