<header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Luis Aldo Olivas</a></h1>
        <div class="social-links mt-3 text-center">
          <a target="_blank" href="https://www.facebook.com/aldo.olivas.75/" class="facebook"><i class="bx bxl-facebook"></i></a>
          <!-- <a href="#" class="google-plus"><i class="bx bxl-google"></i></a> -->
          <a target="_blank" href="https://www.linkedin.com/in/aldo-olivas-56422b1a9/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="index.html"><i class="bx bxs-user-account"></i> <span>Portada</span></a></li>
          <li><a href="#about"><i class="bx bx-user"></i> <span>Objetivo</span></a></li>
          <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resumen</span></a></li>
          <li><a href="#services"><i class="bx bx-server"></i> Servicios</a></li>
          <li><a href="#contact"><i class="bx bx-envelope"></i> Contacto</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  
  </section><!-- End Hero -->

  
